.subreddit-list {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-content: center;
    padding-left: 0;
}

.subredditcard-dark {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    align-self: center;
    background: var(--color-darkmode500);
    border: 1px solid var(--color-darkmode500);
    border-radius: 4px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.subredditcard-light {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    align-self: center;
    background: var(--color-skyblue);
    border-radius: 4px;
    border: 1px solid var(--color-skyblue);
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 600;
}


.subredditcard-dark:hover {
    cursor: pointer;
    background-color: var(--color-darkmode400);
    transition: 200ms ease-in-out;
}
.subredditcard-light:hover {
    cursor: pointer;
    background-color: var(--color-blue);
    transition: 200ms ease-in-out;
}