.post-comment-darkmode {
    background: var(--color-background);
    margin: 8px 0;
    padding: 16px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.post-comment-lightmode {
    background: var(--color-b100);
    color: black;
    margin: 8px 0;
    padding: 16px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.comment-data-darkmode {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}
.comment-data-lightmode {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}

.comment-author-dark {
    font-weight: bold;
    color: var(--color-purple);
}
.comment-author-light {
    font-weight: bold;
    color: var(--color-b600);
}

.time-created {
    margin-left: auto;
    font-style: italic;
}