:root {
  /* Primary color Scheme */

  --color-purple: rgb(168, 92, 249);
  --color-darkpurple: rgb(85, 52, 165);
  --color-blue: rgb(75, 123, 229);
  --color-lightblue: rgb(111, 223, 223);

  --color-background: #444444;
  --color-white: white;
  --color-body: white;

  /* Monochromatic */

  --color-lbmono: #8ac6c6;
  --color-bluemono: #6c8acc;
  --color-purplemono: #ae7fe0;
  --color-dpmono: #5c488c;
  
  
  /* Alternatives */

  --color-skyblue: #5db3e2;
}

html,
body {
  background: var(--color-background);
  color: var(--color-body);
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-weight: 600;
}
p {
  margin: 0;
}


/* Spans & Highlighting */

.highlight {
  font-weight: bold;
  color: var(--color-purplemono)
}